@import "../../style/utils";

#sectionAbout {
  p {
    padding-top: 16px;
  }
}

.sectionAbout_presentation {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  @include responsiveTabloids {
    margin-top: 2rem;
    flex-direction: column;
  }
}

.sectionAboutPresentation_txt {
  width: 50%;
  @include responsiveTabloids {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.sectionAboutPresentation_img {
  width: 36%;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 18px;
  @include responsiveTabloids {
    width: 100%;
    margin: 0;
  }
}
