@import "../../style/utils";

.header_navigation {
  @include responsiveTabloids {
  }
}

.navigation_navLinks {
  display: flex;
  flex-direction: column;
  text-align: center;
  @include responsiveTabloids {
    text-align: right;
    padding-top: 8px;
  }
}

.navLink {
  display: block;
  width: 100%;
  cursor: pointer;
  color: map-get($colors, night);
  font-size: map-get($sizes, m);
  font-weight: map-get($weights, reg);
  @include responsiveTabloids {
    font-size: map-get($sizes, s);
  }
  &:hover {
    color: map-get($colors, grass);
  }
}
.navLink--active {
  display: block;
  width: 100%;
  cursor: pointer;
  color: map-get($colors, sky);
  font-size: map-get($sizes, m);
  font-weight: map-get($weights, boldy);
  @include responsiveTabloids {
    font-size: map-get($sizes, s);
  }
  &:hover {
    color: map-get($colors, grass);
  }
}
