@import "../../style/utils";

// Container contact form
.contact_form {
  color: map-get($colors, night);
  padding: 2rem 0rem 0rem 0rem;
}

.contactForm_block {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  input {
    width: 100%;
    height: 35px;
    border: 2px solid map-get($colors, sky);
    border-radius: 5px;
    padding: 5px;
    color: map-get($colors, night);
    font-size: 14px;
    &:focus {
      outline: 2px solid map-get($colors, sky);
    }
    &::placeholder {
      font-family: map-get($fonts, noto);
      font-size: 12px;
      font-style: italic;
      color: grey;
    }
  }
  textarea {
    height: 110px;
    font-family: map-get($fonts, noto);
    border: 2px solid map-get($colors, sky);
    border-radius: 5px;
    padding: 5px;
    color: map-get($colors, night);
    font-size: 14px;
    &:focus {
      outline: 2px solid map-get($colors, sky);
    }
    &::placeholder {
      font-family: map-get($fonts, noto);
      font-size: 12px;
      font-style: italic;
      color: grey;
    }
  }
  label {
    font-size: 14px;
    font-weight: bold;
    color: map-get($colors, sky);
    margin-bottom: 0.3rem;
  }
}

// Container for input contact form submit and button return to form
.contactForm_buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
  button {
    color: map-get($colors, snow);
    background-color: map-get($colors, sky);
    border: 2px solid transparent;
    padding: 5px 10px;
    border-radius: 5px;
    width: 170px;
    height: 32px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    &:hover {
      font-weight: bold;
      box-shadow: 2px 3px 5px lightgrey;
    }
  }
  #input-submit {
    color: map-get($colors, snow);
    background-color: map-get($colors, sky);
    border: 2px solid transparent;
    padding: 5px 10px;
    border-radius: 5px;
    width: 170px;
    height: 32px;
    cursor: pointer;
    &:hover {
      font-weight: bold;
      box-shadow: 2px 3px 5px lightgrey;
    }
  }
}

// Container for content displayed when message has been successfully submitted
.contactForm_submitted {
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
  p {
    color: map-get($colors, sky);
    margin-bottom: 3rem;
  }
}

// Container for content displayed when message has failed on submit
.contactForm_submitted--error {
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;

  p {
    color: crimson;
    margin-bottom: 3rem;
  }
}
