$colors: (
  sky: #0ebbf1,
  grass: #8fdd09,
  gradient: linear-gradient(#0ebbf1, #8fdd09),
  night: #033e4b,
  snow: #fff,
  random: rgb(random(255), random(255), random(255)),
);

$fontNoto: "Noto Sans Display", sans-serif;
$fontElite: "Special Elite", cursive;
$fontCabin: "Cabin Sketch", cursive;

$fonts: (
  noto: $fontNoto,
  elite: $fontElite,
  cabin: $fontCabin,
);

$sizes: (
  xs: 12px,
  s: 14px,
  m: 16px,
  base: 18px,
  l: 20px,
  xl: 24px,
  max: 26px,
);

$weights: (
  slim: 100,
  reg: 400,
  med: 500,
  boldy: 700,
  xboldy: 900,
);

@mixin resetMargin {
  margin: 0;
  padding: 0;
}

@mixin sectionPaddingContent {
  padding: 50px 205px 50px 30px;
}

@mixin responsiveDesktop {
  @media screen and (max-width: 1350px) {
    @content;
  }
}

@mixin responsiveTabloids {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin responsiveSmartphones {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin bigBubbles {
  color: #033e4b;
  width: 19vmin;
  height: 19vmin;
  box-shadow: 0px 0px 10vmin rgba(3, 62, 75, 0.5);
}

@mixin mediumBubbles {
  color: #033e4b;
  width: 12vmin;
  height: 12vmin;
  box-shadow: 0px 0px 4vmin rgba(3, 62, 75, 0.5);
}

@mixin smallBubbles {
  color: #033e4b;
  width: 9vmin;
  height: 9vmin;
  box-shadow: 0px 0px 3vmin rgba(3, 62, 75, 0.5);
}

@mixin ladybirdBubbles {
  color: #033e4b;
  width: 7vmin;
  height: 7vmin;
  background-image: url("../assets/ladybird.png");
  background-size: contain;
  @include responsiveTabloids() {
    width: 8vmin;
    height: 8vmin;
  }
  @include responsiveSmartphones() {
    width: 10vmin;
    height: 10vmin;
  }
}
