@import "../../style/utils";

// Animation for profile image
@keyframes anim-profile {
  0% {
    transform: translate(-5px, -5px);
  }
  50% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(-5px, -5px);
  }
}

#sectionAbout {
  p {
    padding-top: 16px;
  }
}

// Container for presentation text and profile image
.sectionAbout_presentation {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include responsiveTabloids {
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
  }
}

.sectionAboutPresentation_txt {
  width: 100%;
  font-size: 16px;
  @include responsiveTabloids {
    width: 100%;
  }
}

.sectionAboutPresentation_img {
  position: relative;
  float: right;
  width: 300px;
  height: 300px;
  margin: 18px;
  border-radius: 20px 60px;
  box-shadow: 5px 7px 5px rgba(22, 94, 112, 0.3);
  overflow: hidden;
  border: 10px solid rgba(255, 255, 255, 0.6);
  animation: anim-profile 8000ms infinite ease-in-out;
  @include responsiveTabloids {
    width: 60%;
    margin: 0 auto;
    float: none;
  }
  @include responsiveSmartphones {
    width: 90%;
  }

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top right;
    @include responsiveTabloids {
      width: 100%;
      margin: 0;
      float: none;
    }
  }
}
