@import "../../style/utils";

.sectionCareer_elements {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionCareerElements_motionPath {
  position: relative;
  width: 100%;
  max-width: 200px;
  height: 350px;
  margin-top: 2rem;
}

.sectionCareer_motionDiv {
  text-align: center;
  padding: 6px 15px;
  width: fit-content;
  border-radius: 5px;
  position: absolute;
  top: 0;
  rotate: 0deg;
  font-size: 14px;
  transition: rotate 500ms ease-in-out;
  offset-path: path(
    "M 81.105 14.599 C 135.716 34.064 31.361 52.448 71.913 94.082 C 173.566 193.572 58.937 202.764 46.5 242.775 C 35.146 284.41 81.646 302.253 77.32 320.637"
  );
  offset-rotate: 0deg;
  &:hover {
    rotate: -15deg;
  }
}
