@import "../../style/utils";

@keyframes ladybird-fly {
  0% {
    background-image: url("../../assets/ladybird-opacity.png");
  }
  20% {
    background-image: url("../../assets/ladybird-opacity.png");
  }
  22% {
    background-image: url("../../assets/ladybird-fly-opacity.png");
  }
  24% {
    background-image: url("../../assets/ladybird-opacity.png");
  }
  26% {
    background-image: url("../../assets/ladybird-fly-opacity.png");
  }
  28% {
    background-image: url("../../assets/ladybird-opacity.png");
  }
  30% {
    background-image: url("../../assets/ladybird-fly-opacity.png");
  }
  32% {
    background-image: url("../../assets/ladybird-opacity.png");
  }
  //
  65% {
    background-image: url("../../assets/ladybird-opacity.png");
  }
  70% {
    background-image: url("../../assets/ladybird-fly-opacity.png");
  }
  75% {
    background-image: url("../../assets/ladybird-opacity.png");
  }
  80% {
    background-image: url("../../assets/ladybird-fly-opacity.png");
  }
  85% {
    background-image: url("../../assets/ladybird-opacity.png");
  }
  100% {
    background-image: url("../../assets/ladybird-opacity.png");
  }
}

.sectionCareer_formation {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  p {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    // font-variant: small-caps;
    color: map-get($colors, night);
    border-left: 4px solid map-get($colors, night);
    border-right: 4px solid map-get($colors, night);
  }
}

.sectionCareer_elements {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  @include responsiveTabloids {
    margin-top: 3rem;
  }
  @include responsiveSmartphones {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .sectionCareerElements_jobs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 500px;
    @include responsiveSmartphones {
      width: 100%;
    }
  }
}

.elementsJobs_motionPath {
  position: relative;
  background-image: url("../../assets/leaf-opacity.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  max-width: 200px;
  height: 401.07px;
  margin: 0 auto;
}

.elementsJobs_motionDiv {
  cursor: pointer;
  position: absolute;
  top: 2rem;
  left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 6px;
  border-radius: 50%;
  text-align: center;
  outline: 2.5px solid white;
  offset-path: path(
    "M 81.105 14.599 C 135.716 34.064 31.361 52.448 71.913 94.082 C 173.566 193.572 58.937 202.764 46.5 242.775 C 35.146 284.41 81.646 302.253 77.32 320.637"
  );
  offset-rotate: 0deg;

  &::after {
    position: absolute;
    width: 130px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 11px;
    color: white;
    bottom: -1px;
    left: -55px;
    content: "";
  }

  &:hover {
    box-shadow: inherit;
    &::after {
      box-shadow: 0px 0px 5px white inset;
      background-color: rgba(3, 62, 75, 0.9);
      content: attr(data-descr);
    }
  }
}

.elementsJobs_motionDiv--empty {
  cursor: pointer;
  position: absolute;
  top: 2rem;
  left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 6px;
  border-radius: 50%;
  text-align: center;
  offset-path: path(
    "M 81.105 14.599 C 135.716 34.064 31.361 52.448 71.913 94.082 C 173.566 193.572 58.937 202.764 46.5 242.775 C 35.146 284.41 81.646 302.253 77.32 320.637"
  );
  offset-rotate: 0deg;
}

.elementsJobs_legend {
  height: 102px;
  h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: inherit;
    background-color: rgba(3, 62, 75, 0.4);
    padding: 5px;
  }
}
